<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Dr.E.Shilpa Ghosh</title>
    {% load static %}
    <link rel="icon" href="{% static 'Dashboard_css_files/MedGuard logo.jpg' %}">
    <link rel="stylesheet" href="{% static 'doctors_about.css' %}">
 </head>
<body>
    <div class="container">
        <div class="header-wrapper"></div>
        <center><img src="{% static 'Dashboard_css_files/MedGuard logo.jpg' %}" style="height: 100px;" alt="MedGuard Logo"></center>
        <header>
            <h1 style="color: #19a99d;">Dr.E.Shilpa Ghosh</h1>
            <strong><p class="speciality">speciality : Gynecology, Obstetrics, Laparoscopic Surgery</p></strong>
            <strong><p class="location">Experience: 3 Years</p></strong>
            <strong><p class="location">Location: Delhi</p></strong>
        </header>

        <section class="biography">
            <h2 style="color: #19a99d;">About Dr.E.Shilpa Ghosh</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quasi voluptatibus tenetur impedit voluptate deserunt, dolorem at hic, soluta omnis consequatur nihil, dolor eligendi. Eaque ut nihil eius provident veniam soluta. Consectetur exercitationem harum aliquid deleniti iusto tempore minima unde qui dolore voluptatem, quisquam, aut nostrum minus, similique quasi ratione?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, ipsam reiciendis. Assumenda ducimus reiciendis autem possimus enim quisquam voluptatem in dolorem facilis non. Aliquid dolor excepturi a temporibus recusandae quidem. Deserunt ab minima rem nisi rerum accusamus necessitatibus enim veritatis. Unde ipsa iusto suscipit qui eligendi ex, ullam nemo quia?
            </p>
            <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, eaque? Delectus ut quae dolore, deserunt minima reprehenderit commodi perferendis ratione assumenda corporis totam rem animi accusantium? Quod, cum, maiores optio consectetur pariatur deleniti voluptate ab adipisci saepe, consequatur praesentium et aspernatur! Et corporis illo similique non aspernatur, vel repellendus enim!
            </p>
        </section>

        <section class="contact">
            <h2 style="color: #19a99d;">Contact Information</h2>
            <p>For appointments or inquiries, please contact <b>HYTR HOSPITAL </b>at <b> 95493-6326 </b> or <b>visit https://www.HYTR hospital.com.</b> </p>
            <p><h4 style="color: #19a99d;">Address</h4>
                HYDR hospital Delhi <br>
                     Post Box No. 13, 1st cross st, Delhi<br>
                    management : Private <br>
                    HYTR hospital trust,Delhi</p>
        </section>

        <div class="back-link">
            <a href="/MedguardHome/dashpage/" style="color: white; background-color: #19a99d; ">Home</a> 
        </div>
    </div>
    </div>
</body>
</html>