body{
    font-family: sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  h1{
    text-align: center;
    color: #333;
    margin-top: 20px;
  }
  
  form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="submit"] {
    background-color: #20c997;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
  
  input[type="submit"]:hover {
    background-color: #198754;
  }