<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="icon" href="{% static 'Dashboard_css_files/MedGuard logo.jpg' %}">
    <link rel="stylesheet" href="{% static 'Dashboard_css_files/login-signup.css' %}">
</head>
<body>
    
    <div class="container">
        <div class="form-container">
            <div class="form-wrapper" id="loginForm">
                <h2 style="color: #19a99d;">Welcome To MedGuard</h2>
                <strong>

                    <p style="color: #82e0aa;">Your Health, Our Priority</p>

                </strong>
                
                <h2>Login</h2>
                <form id="login-form" action="" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <label for="loginEmail">Username</label>
                        <input type="text" id="loginEmail" name="username" required>
                    </div>
                    <div class="input-group">
                        <label for="loginPassword">Password</label>
                        <input type="password" id="loginPassword" name="password" required>
                    </div>

                    <p style="color: red;"> {{error}} </p>
                    <button type="submit">Login</button>
                </form>
                <p>Don't have an account? <a href="/signup/">Signup</a></p>
                <!-- <a href="/MedguardHome/dashpage/"> <button>Back</button></a></button> -->
                
            </div>

            <!-- <div class="form-wrapper" id="signupForm" style="display: none;">
                <h2>Signup</h2>
                <form id="signup-form" action="" method="POST">
                    {% csrf_token %}

                    <div class="input-group">
                        <label for="Name">Userame</label>
                        <input type="text" id="signupName" name="username" required>
                    </div>
                    <div class="input-group">
                        <label for="signupName">Firstame</label>
                        <input type="text" id="signupName" name="firstname" required>
                    </div>
                    <div class="input-group">
                        <label for="signupName">Lastname</label>
                        <input type="text" id="signupName" name="lastname" required>
                    </div>
                    <div class="input-group">
                        <label for="signupEmail">Email</label>
                        <input type="email" id="signupEmail" name="email" required>
                    </div>
                    <div class="input-group">
                        <label for="signupPassword">Password</label>
                        <input type="password" id="signupPassword" name="password" required>
                    </div>
                    <button type="submit">Signup</button>
                    
                </form>
                <p>Already have an account? <a href="/" id="loginLink">Login</a></p>
                
            </div> -->
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const loginForm = document.getElementById('loginForm');
            const signupForm = document.getElementById('signupForm');
            const signupLink = document.getElementById('signupLink');
            const loginLink = document.getElementById('loginLink');

            signupLink.addEventListener('click', function(e) {
                e.preventDefault();
                loginForm.style.display = 'none';
                signupForm.style.display = 'block';
            });

            loginLink.addEventListener('click', function(e) {
                e.preventDefault();
                signupForm.style.display = 'none';
                loginForm.style.display = 'block';
            });
        });
    </script>
</body>
</html>
<!-- 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login</h1>
</body>
</html> --> 