<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Tips - MedGuard</title>
    {% load static %}
    <link rel="icon" href="{% static 'MedGuard logo.jpg' %}">
    <link rel="stylesheet" href="{% static 'Dashboard_css_files/style.css' %}">
    <link rel="stylesheet" href="{% static 'tip.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/MedguardHome/dashpage/" style="background: none;"> <img src="{% static '/MedGuard logo.jpg' %}" alt="MedGuard Logo"></a>
        </div>
        <nav>
            <ul>
                <li><a href="/MedguardHome/find_doctor/">Find Doctors</a></li>
                <li><a href="/MedguardHome/consults/">Consult Online</a></li>
                <li><a href="/MedguardHome/medicine/">Medicines</a></li>
                <li><a href="/MedguardHome/labs/">Labs</a></li>
                <li><a href="/MedguardHome/surgeries/">Surgeries</a></li>
                <li><a href="/MedguardHome/dashpage/">Tips</a></li>
                <li><a href="/MedguardHome/more/">More</a></li>
            </ul>
        </nav>
        <div class="login-signup">
            <button><a href="/logout/">Logout</a></button>
        </div>
    </header>

    <section class="tips-page">
        <h1>Health Tips</h1>
        <div class="tip-list">
            <div class="tip-item">
                <h3>Stay Hydrated 👍🏾</h3>
                <p>Drink plenty of water throughout the day to maintain optimal hydration.</p>
                <img src="{% static 'tips/stay hydrated.avif' %}" alt="Hydration Tip">
            </div>
            <div class="tip-item">
                <h3>Eat a Balanced Diet 👍🏾</h3>
                <p>Consume a variety of fruits, vegetables, and lean proteins for overall health.</p>
                <img src="{% static 'tips/eat balance.avif' %}" alt="Balanced Diet Tip">
            </div>
            <div class="tip-item">
                <h3>Get Regular Exercise 👍🏾</h3>
                <p>Engage in at least 30 minutes of moderate exercise most days of the week.</p>
                <img src="{% static 'tips/get regular excersice.jpg' %}" alt="Exercise Tip">
            </div>
            <div class="tip-item">
                <h3>Prioritize Sleep 👍🏾</h3>
                <p>Aim for 7-8 hours of quality sleep each night for physical and mental well-being.</p>
                <img src="{% static 'tips/sleep.jpg' %}" alt="Sleep Tip">
            </div>
            <div class="tip-item">
                <h3>Manage Stress 👍🏾</h3>
                <p>Practice relaxation techniques like meditation or deep breathing to manage stress.</p>
                <img src="{% static 'tips/Manage Stress.avif' %}" alt="Stress Management Tip">
            </div>
            <div class="tip-item">
                <h3>Practice safe sun exposure 👍🏾</h3>
                <p>Use sunscreen, and protective clothing when in the sun, to avoid skin damage.</p>
                <img src="{% static 'tips/sun protection.avif' %}" alt="Practice safe sun exposure">
            </div>
            <div class="tip-item">
                <h3> Limit Screen Time 👍🏾</h3>
                <p>Excessive screen time can negatively impact sleep and mental health. Set boundaries and take breaks.</p>
                <img src="{% static 'tips/Limit Screen Time.avif' %}" alt=" Limit Screen Time">
            </div>
            <div class="tip-item">
                <h3>Regular Health Check-ups 👍🏾</h3>
                <p>Schedule regular check-ups with your doctor to monitor your health, detect potential problems early, and receive necessary vaccinations and screenings.</p>
                <img src="{% static 'tips/Regular Health Check-ups.avif' %}" alt="Regular Health Check-ups">
            </div>
            <div class="tip-item">
                <h3>Practice Good Hygiene 👍🏾</h3>
                <p>Regular handwashing, proper oral hygiene, and showering help prevent the spread of infections and maintain overall cleanliness.</p>
                <img src="{% static 'tips/Practice Good Hygiene.avif' %}" alt="Practice Good Hygiene">
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 MedGuard. All rights reserved.</p>
    </footer>
</body>
</html>